body {
  background-color: #d9e4dd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fbf7f0;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #555555;
}
h2 {
  color: #555555
}
h3 {
  color: #555555
}
